@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

body {
  background-color: #060606;
  padding: 0px 10px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.rajdhani {
  font-family: "Rajdhani", sans-serif;
}
.rubik_font {
  font-family: "Rubik", sans-serif;
}
html {
  scroll-behavior: smooth;
}

@keyframes pulse1 {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse3 {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.animate-pulse1 {
  animation: pulse1 3s ease-out infinite;
}

.animate-pulse2 {
  animation: pulse2 3s ease-out infinite 1s;
}

.animate-pulse3 {
  animation: pulse3 3s ease-out infinite 2s;
}
.hover-border {
  position: relative;
  border-radius: 6px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.hover-border::before,
.hover-border::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #ff014f, #ff5e62);
  opacity: 0;
  transition: all 0.4s ease;
  pointer-events: none;
}

=.hover-border::before {
  top: -1px;      
  left: -1px;      
  height: 2px;
  width: 0;
  background: linear-gradient(90deg, #ff014f, #ff5e62);
}

.hover-border::after {
  top: -1px;       
  left: -1px;     
  width: 2px;
  height: 0;
  background: linear-gradient(180deg, #ff014f, #ff5e62);
}

.hover-border:hover::before {
  width: calc(100% + 10px); 
  opacity: 1;
}

.hover-border:hover::after {
  height: calc(100% + 2px);
  opacity: 1;
}

.hover-border:hover {
  box-shadow: 0 0 15px rgba(255, 0, 76, 0.4);
}
